apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: first-pool
  namespace: metallb-system
spec:
  addresses:
{% if metallb.ip_pool is string %}
{# metallb.ip_pool  was used in the legacy way: single string instead of a list #}
{#   => transform to list with single element #}
{% set metallb.ip_pool  = [metallb.ip_pool] %}
{% endif %}
{% for range in metallb.ip_pool  %}
  - {{ range }}
{% endfor %}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default
  namespace: metallb-system
