apiVersion: apiserver.config.k8s.io/v1 # see compatibility note
kind: AdmissionConfiguration
plugins:
- name: PodSecurity
  configuration:
    apiVersion: pod-security.admission.config.k8s.io/v1
    kind: PodSecurityConfiguration
    defaults:
      enforce: {{ podsecurity_defaults.enforce }}
      enforce-version: {{ podsecurity_defaults.enforce_version }}
      audit: {{ podsecurity_defaults.audit }}
      audit-version: {{ podsecurity_defaults.audit_version }}
      warn: {{ podsecurity_defaults.warn }}
      warn-version: {{ podsecurity_defaults.warn_version }}
    exemptions:
      usernames: {{ podsecurity_exemptions.usernames | to_yaml }}
      runtimeClasses: {{ podsecurity_exemptions.runtime | to_yaml }}
      namespaces: {{ podsecurity_exemptions.namespaces | to_yaml }}